.wrapper {
  border-radius: 30px;
  background: white;
  padding: 38px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  max-width: 599px;
  max-height: 971px;
}

.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
  margin: 0;
  padding-bottom: 14px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: rgba(18, 20, 23, 0.8);
  padding-bottom: 12px;
  margin: 0;
}

.wrapperInfo {
  display: flex;
  gap: 14px;
}

.img {
  border-radius: 100px;
  width: 44px;
  height: 44px;
}

.imgAndName {
  padding-bottom: 40px;
}

.teacherTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #8a8a89;
  margin: 0;
  padding-bottom: 4px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
  margin: 0;
}

.about {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  color: #121417;
  max-width: 472px;
  padding-bottom: 12px;
}

.radio {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 28px;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* input[type="radio"] {
  accent-color: #f4c550;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  color: #f4c550;
  border-radius: 10px;
  border: 2px solid #f4c550;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  background-color: #f4c550;
}

input[type="radio"]:active {
  outline: none;
  box-shadow: none;
} */

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* .formLabel {
 
} */

.field {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 382px 16px 18px;
  max-width: 472px;
  max-height: 54px;
}

.btn {
  border-radius: 12px;
  padding: 16px 215px;
  background: #f4c550;
  border: none;
  margin-top: 22px;
}
